<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SannaBeauty Clinic</title>
  <link rel="stylesheet" href="/css/styles.css?v=3" />
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <%- include('partials/header') %>

<section class="hero">
  <div class="hero-content">
    <h1>Naturlig skönhet<br><span class="highlight">för dig</span></h1>
    <a href="https://www.bokadirekt.se/places/sanna-beauty-clinic-60228" target="_blank" class="cta-button">
      Boka tid
    </a>
  </div>
</section>

  <section class="intro highlight">
  <div class="intro-box">
    <h2>Din skönhet i trygga händer</h2>
    <p>
      På SannaBeauty Clinic möts medicinsk kompetens och estetisk fingertoppskänsla. Vi tror på att lyfta fram din naturliga skönhet – med skräddarsydda behandlingar anpassade efter just dina behov och&nbsp;önskemål.
    </p>
    <p>
      Hos oss står trygghet, kvalitet och personlig omtanke i&nbsp;fokus. Vi tar oss tid att lyssna och guida dig genom hela din skönhetsresa – alltid med målet att du ska känna dig både vacker och bekväm, inifrån och ut.
    </p>
  </div>
</section>



<section class="services">
  <h2>Populära behandlingar</h2>
  <div class="service-grid">
    
    <a href="/behandlingar/botox" class="service-box">
       <img src="/img/Botox2.jpg" alt="Botox behandling" class="service-img">
      <h3>Botox</h3>
      <p>Släta ut rynkor och få en ungdomligare look.</p>
    </a>

    <a href="/behandlingar/filler" class="service-box">
      <img src="/img/filler.jpg" alt="Filler placeholder" class="service-img">
      <h3>Filler</h3>
      <p>Återställ volym och kontur med naturligt resultat.</p>
    </a>

    <a href="/behandlingar/skinbooster" class="service-box">
      <img src="/img/skinbooster2.jpg" alt="Skinbooster placeholder" class="service-img">
      <h3>Skinbooster</h3>
      <p>Ge din hud djupverkande fukt och lyster.</p>
    </a>

    <a href="/behandlingar/ansiktsbehandling" class="service-box">
      <img src="/img/1.webp" alt="Ansiktsbehandling placeholder" class="service-img">
      <h3>Ansiktsbehandling</h3>
      <p>Rengör, återfukta och förnya din hud med en avslappnande ansiktsbehandling.</p>
    </a>

  </div>
</section>

  <%- include('partials/footer') %>
  <script src="/js/main.js?v=1"></script>
</body>
</html>
