<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SannaBeauty Clinic</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="kontakt-page">
  <%- include('partials/header') %>

<div class="contact-container thank-you">
  <h2>Tack för ditt meddelande!</h2>
  <p class="thank-message">Vi återkommer så snart som möjligt.</p>
  <a href="/" class="back-link">Till startsidan</a>
</div>

   <%- include('partials/footer') %>
</body>
</html>